.dashboard {
  .swiper {
    position: relative;
    width: 100%;
    height: 212px;

    .swiper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .nav {
    padding: 10px 0;

    .am-flexbox-item {
      text-align: center;
    }

    img {
      width: 48px;
    }

    h2 {
      margin-top: 7px;
      font-size: 13px;
      font-weight: normal;
    }
  }

}




