html,
body {
    height: 100%;
    font-family: 'Microsoft YaHei', serif;
    color: #333;
    background-color: #fff;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

* {
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto;
}

img {
    pointer-events: none;
}
